@keyframes fade-in-animation{
    from {
        opacity:0;
        width: 100px;
        transform:rotate(-80deg) ;
    }
    to {
        opacity: 1;
        width: 300px;
        transform: rotate(0deg);
    }
}
.fade-in{
    animation-name: fade-in-animation;
    animation-duration: 10s;
}

.blink-colour{
    animation-name: blink-colour-animation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink-colour-animation{
    0% {
        color:crimson ;
    }
    40% {
        color:cyan ;
    }
    80% {
        color:goldenrod ;
    }
    100% {
        color:chartreuse ;
    }
}